**/__pycache__/
*.ckpt
*.pt
nul
src/models/data_sample
src/data_collection/bad_bucket
src/data_collection/good_bucket
src/.env
.claude
data_bucket
data_sample_backup
runs
.ipynb_checkpoints
move.py
data_quality.ipynb
data
sam3
.vscode
.venv
.mcp.json